.main.mk-mode {
    .mk-editor {
        width: 50%;
        position: relative;
        transition: 0.2s;

        .top-bar {
            width: 100%;
            height: 32px;
            background-color: #343233;
            position: absolute;
            z-index: 10;
            display: flex;
            color: #FFD152;
            padding: 0px 0px 0px 6px;
            line-height: 32px;
            border-bottom: 1px solid #FFD152;
            font-size: 16px;
    
            .option {
                background-color: #FFD152;
                color: #343233;
                flex-grow: 0;
                flex-shrink: 0;
                padding: 0px 5px;
                margin: 4px 5px;
                border-radius: 4px;
                line-height: 24px;
                cursor: pointer;
            }

            .option:hover {
                background-color: #ebac00;
            }

            .gap{
                border-left: 1px solid #FFD152;
                margin-right: 10px;
                margin-left: 5px;
            }
        }

        .ReactCodeMirror{
            height: 100%;
        }

        .CodeMirror.cm-s-darcula{
            background: #343233;
            color: #efdab9;
            box-sizing: border-box;
            padding: 46px 6px 6px 6px;
            height: 100%;

            .CodeMirror-scroll{
                width: 100%;
                overflow-x: hidden!important;
                .CodeMirror-sizer{
                    border-right-width: 10px!important;
                }
            }
            ::-webkit-scrollbar {
                width: 6px;
                background-color: #343233;
            }
            ::-webkit-scrollbar-track {
                background: #343233;
                width: 6px;
            }
            ::-webkit-scrollbar-thumb {
                background-color: #ffd152;
                border-radius: 6px;
            }
        }
    }
    .mk-editor.shrink {
        width: 0px;
        overflow: hidden;
    }
    .mk-editor.expand {
        width: 100%;
    }
}
