.welcome {
    
    background-color: #483F42;
    color: #FFD152;
    padding: 24px;
    font-family: serif;
    font-size: 20px;
    position: relative;

    a {
        text-decoration: underline;
        color: #FFD152;
    }

    a:hover{
        color: #ebac00;
        text-decoration: underline;
    }

    h1 {
        font-size: 2em;
        color: #FFD152;
    }
    h2{
        color: #FFD152;
    }
    .line{
        display: block;
        height: 1px;
        width: 50%;
        background-color: #484848;
        position: relative;
        border: 0;
        margin: .5em 0 1em;
    }
    .cover {
        background-color: #483F42;
        border: 2px solid #FFD152;
        padding: 6px 52px;
        width: 162px;
        height: 66px;
        position: absolute;
        left: 0px;
        z-index: 1;
        cursor: pointer;
        border-radius: 4px;
        transition: 1.2s;
    }
    .cover.open {
        left: 150px;
    }
    .ant-btn.ant-btn-primary.ant-btn-dangerous {
        font-size: 18px;
        font-weight: 900;
        line-height: 32px;
        padding: 0px 12px;
        font-family: sans-serif;
        top: 20px;
        left: 34px;
        box-shadow: 3px 2px 1px 0px black;
    }

    .book-picture {
        position: absolute;
        width: 380px;
        top: 60px;
        left: 800px;
    }
}